<!DOCTYPE html>
<html>
<head>
	<title>Monthly Progress</title>
</head>
<body>
<canvas id="myChart"></canvas>
<form action = "/plot" method="POST">
	<input type="text" name="entry[date]" placeholder="new date">
	<input type="text" name="entry[figure]" placeholder="new figure">
	<input type="submit">
</form>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="chart.js"></script>>
<script>
let ctx = document.getElementById("myChart").getContext('2d');
let labels  = <%- JSON.stringify(entries.dates)%>;
let data = <%- JSON.stringify(entries.figures) %>;

var chart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: labels,
		datasets: [{
			label: 'September Training Data',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: data
		}]
	},
	options: {}
});
</script>
</body>
</html>
